<div style="background-color: lightgreen; padding: 18px;">
    <h1> Coding Tank | 
</div>

<div style="background-color: lightblue; padding: 10px;">
    <h2> Tópicos da aula - AULA 1
</div>

- Variáveis
- Tipos básicos
- Entradas/Saídas
- Operadores aritméticos, atribuição e comparação

In [12]:
4

4

In [11]:
#Adição
3 + 4

7

In [13]:
#Subtração
3 - 4

-1

In [14]:
#Multiplicação
3 * 4

12

In [15]:
#Divisão
3 / 4

0.75

In [16]:
#Divisão inteira
3 // 4

0

In [17]:
#Resto da divisão (módulo)
3 % 4

3

In [18]:
#Potenciação
3 ** 4

81

In [20]:
#Radiciação utilizando o operador **
16 ** (1/2)

4.0

**Operadores Aritméticos**

|     Operador    |     Nome                 |     Função                                                                       |
|-----------------|--------------------------|----------------------------------------------------------------------------------|
|     +           |     Adição               |     Realiza   a soma de ambos operandos.                                         |
|     -           |     Subtração            |     Realiza   a subtração de ambos operandos.                                    |
|     *           |     Multiplicação        |     Realiza   a multiplicação de ambos operandos.                                |
|     /           |     Divisão              |     Realiza   a Divisão de ambos operandos.                                      |
|     //          |     Divisão   inteira    |     Realiza   a divisão entre operandos e a parte decimal de ambos operandos.    |
|     %           |     Módulo               |     Retorna   o resto da divisão de ambos operandos.                             |
|     **          |     Exponenciação        |     Retorna   o resultado da elevação da potência pelo outro.                    |

#### Variáveis

In [28]:
# Atribuição de valores -->  =
a = 23 # criando/definindo uma variável
b = 23 # criando/definindo uma variável
a = 77 # modificando uma variável

a, b

(77, 23)

In [29]:
#Quando a variável não foi definida --> erro
w

NameError: name 'w' is not defined

In [31]:
#Verificando o tipo de variável --> type()
numero = 123

type(numero)

int

In [ ]:
#Tipos de variáveis
int --> inteiro
float --> números reais (com decimais)
string --> textos
bool --> valores lógicos (True/Verdadeiro  False/Falso)

In [32]:
inteiro = 12
real = 3.14
texto = 'Meu Santos caiu'
sentinela = True

In [36]:
type(inteiro), type(real), type(texto), type(sentinela)

(int, float, str, bool)

In [39]:
#type aceita apenas uma única variável
type(inteiro, real)

TypeError: type() takes 1 or 3 arguments

In [43]:
#Mudando o tipo de uma variável
fator = 99
type(fator)

int

In [44]:
fator = '99'
type(fator)

str

In [46]:
#aspas duplas ou simples
fator = "duplas"
fator

'duplas'

In [47]:
fator = 'simples'
fator

'simples'

In [51]:
#Coerção de tipos (casting) --> transformando um tipo em outro
num = '99'
num2 = int(num)

num2, type(num2)

(99, int)

In [52]:
#Tentando converter um não-inteiro para inteiro
num3 = '34.5'
num = int(num3)

ValueError: invalid literal for int() with base 10: '34.5'

In [ ]:
#Entrada de dados: input()

In [54]:
nome = input('Digite o seu nome: ')

Digite o seu nome: Paulo

In [66]:
idade = input('Digite a sua idade: ')
type(idade)

Digite a sua idade: 23

str

In [59]:
#Concatenando textos: +
frase = 'O ' + nome + ' tem ' + idade + ' anos.'

frase

'O Paulo tem 23 anos.'

In [60]:
#Saída da tela: print()
print('O ' + nome + ' tem ' + idade + ' anos.')

O Paulo tem 23 anos.

In [61]:
#Outras formas
print('O', nome, 'tem', idade,  'anos.')

O Paulo tem 23 anos.

In [70]:
#C-style
print('O %s tem %s anos.'%(nome,idade))

O Paulo tem 23 anos.

In [71]:
#.format()
print('O {} tem {} anos.'.format(nome, idade))

O Paulo tem 23 anos.

In [72]:
#f-string
print(f'O {nome} tem {idade} anos.')

O Paulo tem 23 anos.

In [65]:
#Não possível concatenar strings com valores numéricos
'Paulo tem' + 23 + 'anos'

TypeError: can only concatenate str (not "int") to str

In [ ]:
#Operadores de comparação
igual: ==
diferente: !=
maior: >
maior ou igual: >=
menor: <
menor ou igual: <=

In [75]:
x, y, w = 3, 2, 3

In [78]:
x == y, x == w

(False, True)

In [79]:
x != y, x != w

(True, False)

In [80]:
x > y, x > w

(True, False)

In [81]:
x >= y, x >= w

(True, True)

In [82]:
x < y, x < w

(False, False)

In [83]:
x <= y, x <= w

(False, True)

In [119]:
x < y < w

False

In [87]:
#Comparando strings

"casa" == "casa"

True

In [88]:
"casa" != "casa"

False

In [91]:

"A" > "a"

False

In [98]:
#Tabela ascii
ord('A'), ord('a'), ord('@')

(65, 97, 64)

In [99]:
#Comparando int com float
20.0 ==  20

True

In [101]:
#Precedência dos operadores
2 + 3 * 4 ** 0.5

8.0

In [108]:
(-3 < -1) < 0

True

In [110]:
True == 1

True

In [114]:
#Verificando se a idade digita está entre 10 e 20
idade =  int(input('Digite sua idade: '))

Digite sua idade: 12

In [117]:
(idade >= 10) and (idade <= 20)

True

In [118]:
10 <= idade <= 20

True