<div style="background-color: lightgreen; padding: 18px;">
    <h1> Coding Tank 
</div>

<div style="background-color: lightblue; padding: 10px;">
    <h2> Tópicos da aula - AULA 4
</div>

- Loop for
- Listas
- Índices
- Iterações de listas
- Métodos de listas

In [ ]:
# for elem in iterável:
#   bloco

In [4]:
list(range(4))

[0, 1, 2, 3]

In [7]:
for qualquer_variavel in range(4):
    print(qualquer_variavel)

0
1
2
3

In [8]:
for letra in 'ca@ sa':
    print(letra)

c
a
@

s
a

In [9]:
#Só a condição de parada (stop)
list(range(7))

[0, 1, 2, 3, 4, 5, 6]

In [11]:
#Valor inicial (start) e condição de parada (stop)
list(range(-3, 7))

[-3, -2, -1, 0, 1, 2, 3, 4, 5, 6]

In [12]:
#Valor inicial (start), valor final (stop), passo (step)
list(range(-3, 7, 2))

[-3, -1, 1, 3, 5]

In [18]:
'Casa da mãe Joana'[::2]

'Cs ameJaa'

In [ ]:
while start + step < stop:
    continua

In [20]:
# passos (steps) grande
list(range(3, 10, 20))

[3]

In [23]:
#Passos negativos
list(range(10,0,-2))

[10, 8, 6, 4, 2]

In [34]:
#Intervalos vazios 
list(range(12, 0))

[]

In [46]:
for var in range(5):
    print(' '*(5-var) + 'X' * var +'X'*(var-1))

for i in range(2):
    print('    X')

    X
   XXX
  XXXXX
 XXXXXXX
    X
    X

In [52]:
#Faça um programa que peça um número e mostra a tabuada desse número

tab = int(input('Digite um número inteiro: '))

for i in range(1, 11):
    print(f'{tab} x {i:2d} = {tab * i:2d}')

Digite um número inteiro: 9
9 x  1 =  9
9 x  2 = 18
9 x  3 = 27
9 x  4 = 36
9 x  5 = 45
9 x  6 = 54
9 x  7 = 63
9 x  8 = 72
9 x  9 = 81
9 x 10 = 90

In [62]:
#Faça um programa que pede um número n e n notas e faz a média dessas n notas.
n = int(input('Digite o número de notas: '))

soma = 0
for i in range(n):
    soma += float(input(f'Digite a {i + 1}ª nota: '))

media = soma / n
print(f'A média é: {media: .2f}')

Digite o número de notas: 3
Digite a 1ª nota: 1
Digite a 2ª nota: 1
Digite a 3ª nota: 5
A média é:  2.33

In [77]:
#Arredondamento: round(numero, casas decimais)
media2 = round(media,2)
media2, 10* media

(2.33, 23.333333333333336)

In [71]:
round(7.999, 2)

8.0

In [ ]:
cont = 0
cont = cont + 1  --> 1
cont = cont + 1  --> 2
cont = cont + 1  --> 3

In [ ]:
cont = 0
cont += 1 --> 1
cont += 1 --> 2
cont += 1 --> 3

In [ ]:
#Em outras liguangens
var = ++cont -->soma 1 antes de usar
var = cont++ -->soma 1 após usar

In [87]:
cont = 3
var = 0
#var = cont+=1 --> ++cont

var, cont = cont, cont+1 
var, cont

(3, 4)

In [ ]:
media = (nota1 + nota2 + nota3) / 3

var = ((nota1 - media) ** 2 + (nota2 - media) ** 2 + (nota3 - media) ** 2) / 3

In [91]:
#Listas

lista = ['20', 'tatuagens']

lista[0], lista[1],

('20', 'tatuagens')

In [93]:
#Tentando acessar um valor fora do intervalo de índices
lista[2]

IndexError: list index out of range

In [94]:
notas = []

In [95]:
#Inserindo elementos na lista: append()
notas.append(7.3)
notas

[7.3]

In [96]:
notas.append(9)
notas

[7.3, 9]

In [97]:
#É possível colocar elementos de quaisquer tipos
[3, 3.14, 'três', True, ['outra lista']]

[3, 3.14, 'três', True, ['outra lista']]

In [99]:
#Descobrindo o tamanho da lista: len()

len(notas)

4

In [ ]:
#Somando elementos da lista

In [100]:
#Primeiro forma: índice
soma = 0
for i in range(len(notas)):
    soma += notas[i]
print(soma)

18.0

In [109]:
#Segunda forma: for each
soma = 0
for nota in notas:
    soma += nota
print(soma)

18.0

In [111]:
#Terceira forma
sum(notas)

18.0

In [114]:
#Faça um programa que pede um número n e n notas e faz a média e variança dessas n notas.
n = int(input('Digite o número de notas: '))

soma = 0
notas = []

for i in range(n):
    notas.append(float(input(f'Digite a {i + 1}ª nota: ')))
    
media = sum(notas) / n    

var = 0
for nota in notas:
    var += (nota - media) ** 2

var /= n

print(media, var)

Digite o número de notas: 2
Digite a 1ª nota: 3
Digite a 2ª nota: 4
3.5 0.25

In [ ]:
#Métodos de lista
nomes = ['Mayara', 'Gabriele', 'Karoline', 'Leticia', 'Luciane', 'Mariana', 'Suzielli', 'Vivian']

idades = [21, 34, 7, 78, 15]

In [122]:
nomes = ['Mayara', 'Gabriele', 'Karoline', 'Leticia', 'Luciane', 'Mariana', 'Suzielli', 'Vivian']
idades = [21, 34, 7, 78, 15]

print(len(nomes))
nomes.append(idades)
print(len(nomes))
nomes

8
9

['Mayara',
 'Gabriele',
 'Karoline',
 'Leticia',
 'Luciane',
 'Mariana',
 'Suzielli',
 'Vivian',
 [21, 34, 7, 78, 15]]

In [123]:
nomes = ['Mayara', 'Gabriele', 'Karoline', 'Leticia', 'Luciane', 'Mariana', 'Suzielli', 'Vivian']
idades = [21, 34, 7, 78, 15, 32, 20, 40]

print(len(nomes))
nomes.extend(idades)
print(len(nomes))
nomes

8
16

['Mayara',
 'Gabriele',
 'Karoline',
 'Leticia',
 'Luciane',
 'Mariana',
 'Suzielli',
 'Vivian',
 21,
 34,
 7,
 78,
 15,
 32,
 20,
 40]

In [126]:
nomes = ['Mayara', 'Gabriele', 'Karoline', 'Leticia', 'Luciane', 'Mariana', 'Suzielli', 'Vivian']
idades = [21, 34, 7, 78, 15, 32, 20, 40]

dados = []

#Utilizando um elemento de cada lista: zip()
for nome, idade in zip(nomes, idades):
    dados.append((nome, idade))

dados

[('Mayara', 21),
 ('Gabriele', 34),
 ('Karoline', 7),
 ('Leticia', 78),
 ('Luciane', 15),
 ('Mariana', 32),
 ('Suzielli', 20),
 ('Vivian', 40)]

In [130]:
nomes.

['Mayara',
 'Gabriele',
 'Karoline',
 'Leticia',
 'Luciane',
 'Mariana',
 'Suzielli',
 'Vivian']

In [131]:
dado_alternado = []

for i in range(len(nomes)):
    dado_alternado.append(nomes[i])
    dado_alternado.append(idades[i])
    
dado_alternado

['Mayara',
 21,
 'Gabriele',
 34,
 'Karoline',
 7,
 'Leticia',
 78,
 'Luciane',
 15,
 'Mariana',
 32,
 'Suzielli',
 20,
 'Vivian',
 40]

In [137]:
#Contando elementos específicos da lista: count()
nomes.count('Suzielli')

1

In [138]:
#Descobrindo o índice de um elemento
nomes.index('Suzielli')

6

In [140]:
[2,3,4,5,2,5].index(5)

3

In [142]:
#Removendo a primeira ocorrência de um elemento
temp = [2,3,4,5,2,5]

temp.remove(5)

temp

[2, 3, 4, 2, 5]

In [144]:
temp.pop()

5

In [146]:
temp.pop()

2

In [147]:
temp

[2, 3, 4]

In [148]:
temp.insert(2, -1)

temp

[2, 3, -1, 4]

In [151]:
espertas = nomes.copy()

In [153]:
espertas.append('Bruna')
espertas

['Mayara',
 'Gabriele',
 'Karoline',
 'Leticia',
 'Luciane',
 'Mariana',
 'Suzielli',
 'Vivian',
 'Bruna']

In [155]:
nomes

['Mayara',
 'Gabriele',
 'Karoline',
 'Leticia',
 'Luciane',
 'Mariana',
 'Suzielli',
 'Vivian']

In [156]:
proibidas = nomes

In [158]:
proibidas.append('Surfistinha')

In [160]:
proibidas

['Mayara',
 'Gabriele',
 'Karoline',
 'Leticia',
 'Luciane',
 'Mariana',
 'Suzielli',
 'Vivian',
 'Surfistinha']

In [161]:
nomes

['Mayara',
 'Gabriele',
 'Karoline',
 'Leticia',
 'Luciane',
 'Mariana',
 'Suzielli',
 'Vivian',
 'Surfistinha']

In [163]:
dados

[('Mayara', 21),
 ('Gabriele', 34),
 ('Karoline', 7),
 ('Leticia', 78),
 ('Luciane', 15),
 ('Mariana', 32),
 ('Suzielli', 20),
 ('Vivian', 40)]

In [179]:
varios = ['nome', 34, ['sobrenome', 100], True, [3,-9, 'sapato']]

In [180]:
varios[2][0].upper()

'SOBRENOME'

In [181]:
for elem in varios:
    if type(elem) == type(list()):
        for elementozinho in elem:
            print(elementozinho)
    else:
        print(elem)

nome
34
sobrenome
100
True
3
-9
sapato

In [184]:
isinstance(varios,list)

True

##### Exercício

Faça um programa que pede dois números e mostra as duas tabuadas lado a lado.

Exemplo: 3 e 7

3 x 1 = 2   |    7 x 1 =  7  
3 x 2 = 6   |    7 x 1 = 14  
3 x 3 = 9   |    7 x 1 = 21  

...

In [3]:
lista = []

numero = input('insira um numero: ')
numero2 = input('insira outro numero: ')

lista.append(numero)
lista.append(numero2)


print(lista)

insira um numero:  5
insira outro numero:  6

['5', '6']

Faça um programa que recebe duas listas (A e B) de tamanhos diferentes e mostra na tela: 
1. Os elementos de A que estão em B.  
2. Os elementos de B que estão em A.
3. Os elementos comuns nos dois conjuntos.

['123', '345']